<div class="left">
  <div class="item">
    <span class="glyphicon glyphicon-th-large"></span>
  </div>
    <div class="item" routerLink="/players">
      <span class="glyphicon glyphicon-signal"></span>
      Player Rankings
    </div>
  <div class="item" routerLink="/calculator">
  <span class="glyphicon glyphicon-edit"></span>
      Calculator</div>
  <div class="item" routerLink="/tradedatabase">
  <span class="glyphicon glyphicon-th-list"></span>
      Trade Database</div>
</div>
<div>
  <span class="glyphicon glyphicon-align-justify"></span>
</div>
